body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#page-content{
  // margin-top: 82px;
}


*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*| Navigation |*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--backgroundContainer);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  z-index: 100;

  img {
      height: 55px;
      position: absolute;
      margin: 10px;
      margin-left: 5%;
  }

  ul {
      list-style: none;
      position: relative;
      float: right;
      margin-right: 100px;
      display: inline-table;

      li {
          float: left;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

          &:hover {
              background: rgba(0,0,0,.15);
          }

          &:hover > ul {
              display: block;
          }

          a {
              display: block; 
              padding: 30px 20px;
              color: rgb(197, 197, 197); 
              font-size: .9em;
              letter-spacing: 1px;
              text-decoration: none;
              text-transform: uppercase;
          }
      }
  }
}


@media only screen and (max-width: 992px) {
  .container {
      margin-left: 0;
      padding-left: 0;
      margin-right: 0;
      padding-right: 0;
      background-color: transparent;
  }

  nav {

      img {
          position: relative;
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }

      ul {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-right: 0;
      }

  }

  #page-content{
      //margin-top: 157px;
  }    

  .fa-solid
  {
      display: none;
  }
}


@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1762px) {

}

#header-bar
{
 padding: 25px;
 width: 100%;
 position: absolute;
 z-index: 100;
 img
 {
     float: left;
     border-radius: 100%;
     width: 75px;
 }
 p-button
 {
     margin-top: 10px;
     float: right;
 }
}

#footer
{
  text-align: center;
  background-color: var(--backgroundContainer);

  .social-media
  {
      background-color: var(--backgroundBody);
      padding-top: 25px;
      padding-bottom: 25px;

      button
      {
          margin-left: 10px;
          margin-right: 10px;
      }
  }
  
  .copyright
  {
      font-family: Quicksand;
      text-transform: uppercase;
      background-color: var(--textHot);
      padding-top: 25px;
      padding-bottom: 25px;
  }
}

.blog-card {
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
  position: relative;
  z-index: 10;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  transition: 0.4s;
  cursor: pointer;
  flex-grow: 1;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);

  .article-background-image
  {
      z-index: -1;
      border-radius: 25px;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:0.3;
      background-repeat: no-repeat; 
      background-size: cover;
  }

  .skeleton-background
  {
      z-index: -1;
      border-radius: 25px;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color: var(--backgroundContainer);
  }

  .tags
  {
      min-height: 26px;
      text-align: right;

      p-tag {
          margin-left: 10px;
      }
  }

  .article-title {
      font-family: Quicksand;
      font-size: x-large;
  }

  .additional-information {
      font-family: Quicksand;
      font-weight: normal;
      color: var(--dimmedText);
      margin-top: -10px;
  }

  .content {
      max-height: 84px;
      font-family: Inter;
      text-align: justify;
      font-weight: normal;
  }

  p-button {
      float: right;
  }

  &:hover {
  transform: scale(0.95, 0.95);
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.2),  -5px -5px 30px 15px rgba(0,0,0,0.2);
  }

}

.card-container {
  margin: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 992px) {
  .blog-card {
      margin-left: 0px;
      margin-right: 0px;
      padding: 30px;

      .thumbnail {
          display: none;
      }
  }

  .card-container {
      margin: 0rem;
      margin-bottom: 20px;
  }
}