#body
{
    // background-image: url("https://i.imgur.com/7KsVy7A.png") !important;
    // background-size:contain;
    // background-repeat: repeat;
    // background-position: center top;
    padding-bottom: 10px;
}

.background
{
    width: 100%;
    position: absolute;
    z-index: -10;
}

@media only screen and (max-width: 992px) {
    app-article-preview {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px;

        .thumbnail {
            display: none;
        }
    }

    .card-container {
        margin: 0rem;
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 992px) {
    app-article-preview {
        width: 100%;
    }
}

@media only screen and (min-width: 1778px) {
    app-article-preview {
        width: 800px;
    }
}

.hero-banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(19, 13, 20, 0);
}

.container 
{
    background-color: rgba($color: #000000, $alpha: 0);
    position: relative;

    .blur
    {
        border-radius: 25px;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        backdrop-filter: blur(25px);
    }
}

.hero-pre-intro
{
    font-weight: 900;
    color: var(--textHot);
    font-family: Quicksand;
}

.hero-title {
    font-family: Quicksand;
    font-size: 4.0703rem;
    font-weight: 700;
 }
 .hero-subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    font-size: 1rem;
    margin-top: 1rem;
 }

 .hero-content {
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    vertical-align: middle
 }


 .continue-arrow
 {
    cursor: pointer;
    animation: MoveUpDown 2s cubic-bezier(.08,1.09,.57,1.33) infinite;
 }

 @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .typed-cursor
  {
    color: var(--textHot) !important;
  }

// ======================================================

body{
  background-image: none;
}

.hero {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-before {
   content: "";

}
.hero-content {
   position: relative;
   font-family: Quicksand;
   color: white;
   text-align: center;
   margin: 0.625rem;
}
.hero-title {
   font-size: 3rem;
   font-weight: 800;
   margin-bottom: 10px;
   margin-top: -15px;
}
.hero-subtitle {
   font-size: 1.5rem;
   font-weight: 200;

   img {
     border-radius: 50%;
     vertical-align: middle;
     padding-bottom: 5px;
   }
}
.hero-button {
   background-color: #ae2d59;
   color: white;
   border: 1px solid #cb376a;
   margin-top: 5rem;
   padding: 0.9375rem1.875rem;
   font-family: "Monserrat", sans-serif;
   font-size: 1.125rem;
   font-weight: 200;
   cursor: pointer;
}
.hero-button:hover {
   background-color: #cb376a;
   border: 1px solid #db7598;
}

.container 
{
  position: relative;
  margin-top: -50px;
  padding: 50px;
  margin-bottom: 5px;
  border-radius: 25px 25px 0px 0px;

  .grid
  {
     padding-left: 10%;
     padding-right: 10%;
  }

}

.markdown-article ::ng-deep img
{
  width: auto !important;
  max-width: 100%;
}


.tag {

  cursor: pointer;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;

  &::before {
     content: "#";
     color: var(--dimmedText);
  }

  &:hover {
     background-color: rgba($color: #cc00a0, $alpha: 0.2);
     border-color: rgba($color: #cc00a0, $alpha: 0.6);
  }

  &:active {
     background-color: rgba($color: #cc00a0, $alpha: 0.5);
  }
}

#author {
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
  color: var(--dimmedText);

  img {
     vertical-align: middle;
  }

  span
  {
     vertical-align: middle;
  }
}

#date {
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;
  color: var(--dimmedText);

  span
  {
     vertical-align: middle;
  }

  .fa-solid {
     padding-top: 5px;
  }
}

@media only screen and (max-width: 992px) {
  #author {
     font-size: small;
     img {
        display: none;
     }
  }
  
  #date {   
     font-size: small;
     .fa-solid {
        display: none;
     }
  }

  .hero-title {
     font-size: 1.5rem;
     margin-top: 0px;
  }

  .tag {
     display: none;
  }

  
  .container 
  {
     .grid
     {
        padding-left: 2%;
        padding-right: 2%;

        div
        {
           min-width: 0px;
        }
     }

  }
}
